<div id="breadcrumbs" class="ml-4 mr-4">
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
{% comment %}
Remove the date when we have a blog post
{% endcomment %}
{% if crumbs contains 'blog' and crumbs.last != 'blog' %}
  {% assign x = '' %}
  {% for crumb in crumbs offset: 0 %}
    {% assign x = x | append: crumb %}
    {% if crumb == 'blog' %}
      {% break %}
    {% else %}

      {% assign x = x | append: '/' %}
    {% endif %}
  {% endfor %}
  {% assign crumbs = x | append: '/' | append: crumbs.last | split: '/' %}
{% endif %}
<a href="/">Home</a>
{% for crumb in crumbs offset: 1 %}
  {% if forloop.last %}
    / {{ page.title }}
  {% else %}
    / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">
        {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
      </a>
  {% endif %}
{% endfor %}
</div>
