<nav class="navbar navbar-main" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#"">
      <img src="/assets/img/logo.png" width="45" height="35">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      {% for link in site.data.navigation.links %}
        <a href="{{ site.baseurl }}{{ link.link }}"
             class="navbar-item active"
             {% if link.new_window %}
             target="_blank"
             {% endif %}>
             {{ link.name }}
        </a>
		  {% endfor %}
      </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="mr-2 ml-2" href="https://www.linkedin.com/in/andy-s-alic-2a70b012/">
            <img src="/assets/img/linkedin_logo.png">
          </a>
          <a class="mr-2 ml-2" href="https://github.com/asalic">
            <img src="/assets/img/github_logo.png">
          </a>
          <a class="mr-2 ml-2" href="https://orcid.org/0000-0003-4350-7832">
            <img src="/assets/img/orcid_logo.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
