html,
body {
    height: 100vh;
  width: 100%;
  padding: 20px;
  display:flex;
  flex-direction:column;
}

.portofolio-home-hero {
  background-size: cover;
      position: absolute;
      width: 100%;
      opacity: 0.3;
}


.portofolio-home-hero-txt {
      position: relative;
      width: 100%;
      height: 100%;
    vertical-align:middle;
}

.navbar-nav > .active > a {
    background-color: blue ;
}

.content-main {

  width: 100%;
  flex:1;
  display:flex;
  flex-direction:column;
  overflow-y: scroll;
}

.footer-data{
  background-color: #F0F0F0;
}

.footer-main {
  background-color: #F0F0F0;
  padding:0.5em;
   bottom: 0;
   left: 0;
   right: 0;
  height: auto;
}
